@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    scroll-behavior: smooth;
}

/* SCROOLING */
::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-thumb {
    background-color: #AF8260;
    border-radius: 25px;
}

::-webkit-scrollbar-track {
    background-color: #fff;
    width: 60px;
}

/* NAVBAR */

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
    background-color: transparent;
    backdrop-filter: blur(10px);
}

.logo {
    font-size: 32px;
    color: black;
    text-decoration: none;
    font-weight: bold;
}

.navbar {
    display: flex;
}

.navbar a {
    font-size: 18px;
    text-decoration: none;
    color: black;
    margin-left: 40px;
    font-weight: bold;
    transition: color 0.3s ease-in-out, transform 0.3s ease-in-out;
}

.navbar a.active {
    border-bottom: 2px solid black;
    font-size: 18px;
}

.navbar a:hover {
    color: #AF8260;
    transform: scale(1.1);
}


/* HOME */

.home {
    height: 100vh;
    display: flex;
    align-items: center;
    padding: 10px 200px;
    background-color: #fff;
    background-image: url('backgroundhome.png');
    background-size: cover;
    background-position: center;

}

.home-content h4 {
    font-size: 30px;
    color: #191919;
    font-weight: bold;
}

@keyframes swingHand {
    0% {
        transform: rotate(0deg);
    }

    50% {
        transform: rotate(15deg);
    }

    100% {
        transform: rotate(-15deg);
    }
}

h4 {
    font-size: 24px;
    margin: 0;
}

.swing-hand {
    font-size: 30px;
    display: inline-block;
    animation: swingHand 1s ease-in-out infinite alternate;
    transform-origin: bottom;
}

.home-content h1 {
    font-size: 50px;
    color: #191919;
}

.home-content h3 {
    font-size: 35px;
    color: #AF8260;
    font-weight: bold;
}

.btn a {
    color: white;
    text-decoration: none;
}

.iconhome a {
    margin: 2rem 1.5rem 2rem 0;
    font-size: 1.5rem;
    background-color: transparent;
    border: 0.2rem solid #AF8260;
    border-radius: 100%;
    color: #AF8260;
    width: 2.6rem;
    height: 2.6rem;
    display: inline-block;
    text-align: center;
    justify-content: center;
    transition: 0.3s ease-in-out;

}

.iconhome a:hover {
    color: chocolate;
    transform: scale(1.3) translateY(-5px);
    background-color: transparent;
    border: 0.2rem solid #AF8260;
    box-shadow: 0 0 25px #AF8260;
}


.photo-home img {
    width: 300px;
    height: 300px;
    margin-left: 200px;
    border-radius: 200px;
    border: 2px solid #AF8260;
    box-shadow: 0 0 10px 1px #AF8260;
    transition: transform 0.4s ease-in-out;
}

.photo-home img:hover {
    transform: scale(1.2);
}

/* ABOUT */

.about {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url('backgroundabout.png');
    background-size: cover;
    background-position: center;
}

.about-image img {
    width: 300px;
    height: 300px;
    margin-left: 100px;
    border-radius: 20px;
    border: 2px solid #AF8260;
    box-shadow: 0 0 10px 1px #AF8260;
    transition: transform 0.5s ease-in-out;
}

.about-image img:hover {
    transform: scale(1.2);
}

.tulisan {
    padding-left: 100px;
}

.tulisan i {
    margin-right: 10px;
}

.tulisan h1 {
    color: #191919;
    font-size: 50px;
}

.tulisan .warna {
    color: #AF8260;
}

.tulisan h3 {
    color: #191919;
    font-size: 25px;
}

.tulisan p {
    color: #191919;
    width: 500px;
    text-align: justify;
}

/* SKILLS */

.skill {
    height: 100vh;
    padding: 10% 0;
    background-image: url('backgroundskill.png');
    background-size: cover;
    background-position: center;
}

.title h2 {
    color: #412917;
    font-size: 40px;
    width: 100%;
    margin-bottom: 30px auto;
    text-align: center;
}

.box {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 400px;
}

.card {
    height: 350px;
    width: 300px;
    padding: 20px 35px;
    background: white;
    border-radius: 20px;
    margin: 15px;
    position: relative;
    overflow: hidden;
    text-align: center;
    border: 1px solid #AF8260;
    transition: 0.4s ease-in-out;
}

.card:hover {
    transform: scale(1.10);
}

.card i {
    font-size: 50px;
    display: block;
    text-align: center;
    margin: 25px 0;
    color: #412917;
}

.card h5 {
    color: black;
    font-size: 23px;
    margin-bottom: 15px;

}

.pra p {
    color: #191919;
    font-size: 15px;
    line-height: 27px;
    margin-bottom: 25px;
    text-align: justify;
}

/* PORTFOLIO */
.portofolio {
    height: 100vh;
    padding: 5% 0;
    background-image: url('backgroundfolio.png');
    background-size: cover;
    background-position: center;
}

.portofolio h2 {
    margin-bottom: 4rem;
    text-align: center;
    padding: 20px;
    font-size: 30px;
}

.portofolio-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    gap: 2rem;
    margin-top: 50px;
}

.portofolio-container .portofolio-box {
    position: relative;
    border-radius: 2rem;
    box-shadow: 0 0 1rem var(--bg-color);
    overflow: hidden;
    display: flex;
}

.portofolio-box img {
    width: 90%;
    margin-top: 10px;
    transition: .5s ease;
    opacity: 0.7;
    padding-left: 40px;
    margin-top: 40px;

}

.portofolio-box:hover img {
    transform: scale(1.1);
}

.portofolio-box .portofolio-layer {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(rgba(0, 0, 0, 0.1) var(--main-color));
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    padding: 0 4rem;
    transform: translateY(100%);
    transition: .5s ease;
}

.portofolio-box:hover .portofolio-layer {
    transform: translateY(0);
    background: radial-gradient(rgba(187, 123, 78), (#AF8260));

}

.portofolio-layer h4 {
    font-size: 20px;
}

.portofolio-layer p {
    font-size: 15px;
    margin: .3rem 0 1rem;
}

.portofolio-layer a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 5rem;
    height: 5rem;
    background: var(--text-color);
    border-radius: 50%;
}

.portofolio-layer a i {
    font-size: 2rem;
}

/* CONTACT ME */
.Contact {
    height: 100vh;
    text-align: center;
    padding: 160px;
    color: black;
    background-image: url('backgroundcontact.png');
    background-size: cover;
    background-position: center;
}

.container-1 {
    max-width: 800px;
    margin: 0 auto;
}

.container-1 h2 {
    font-size: 36px;
    margin-bottom: 40px;
}

.contact-wrapper {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 30px;
}

.contact-form {
    text-align: left;
}

.contact-form h3 {
    font-size: 24px;
    margin-bottom: 20px;
}

.form-group {
    margin-bottom: 20px;
}

input,
textarea {
    width: 100%;
    padding: 12px;
    border-radius: 8px;
    border: none;
    background-color: #fff;
    border: 2px solid #685241;
    transition: 0.5s ease;
}

input:focus,
textarea:focus {
    outline: none;
    box-shadow: 0 0 8px #685241;
}

button {
    display: inline-block;
    padding: 12px 24px;
    background-color: #412917;
    color: #fff;
    border-radius: 10px;
    border: none;
    cursor: pointer;
    transition: 0.4s ease;
}

button:hover {
    background-color: #694938;
    transform: scale(1.05);
}

.contact-info {
    text-align: left;
}

.contact-info h3 {
    font-size: 24px;
    margin-bottom: 20px;
    color: #191919;
}

.contact-info p {
    margin-bottom: 10px;
    color: #191919;
    font-weight: 500;
}

.contact-info i {
    color: #685241;
    margin-right: 10px;
}

/* FOOTER */
footer {
    background-color: #685241;
}

.footerContainer {
    width: 100%;
    padding: 70px 20px 20px;
}

.sosialIcons {
    display: flex;
    justify-content: center;
}

.sosialIcons a {
    text-decoration: none;
    padding: 10px;
    text-align: center;
    background-color: white;
    margin: 10px;
    border-radius: 100%;
    width: 51px;
    height: 51px;
    transition: 0.3s ease-in-out;
}

.sosialIcons a i {
    font-size: 2rem;
    color: #412917;
}

.sosialIcons a:hover {
    transform: scale(1.3) translateY(-5px);
    transition: 0.5s;
}

.footerBottom p {
    text-align: center;
    color: white;
}

.designer {
    color: whitesmoke;
}